@import "tailwindcss";
@import "./styles/light-theme.css";
@import "./styles/dark-theme.css";

@theme {
  --color-primary: var(--color-primary);
  --color-primary-hover: var(--color-primary-hover);

  /* Semantic variables mapped to Tailwind colors */
  --color-bg-main: var(--bg-main);
  --color-bg-surface: var(--bg-surface);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
  --color-border-main: var(--border-main);
}

@layer base {
  body {
    @apply bg-bg-main text-text-main antialiased transition-colors duration-300;
  }

  /* Custom Blue Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: 10px;
    transition: all 0.3s;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-hover);
  }

  /* Support for Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-primary) transparent;
  }
}